<div class="namedate">
  <h1 id="location">{{ locationObj.city }}, {{ locationObj.country_code2 }}</h1>
  <h2 id="date">{{ date }}</h2>
</div>
<div class="weatherdata">
  <div class="currweather">
    <p>photo</p>
    <p>{{ forecastObj.main.temp }}</p>
    <p>{{ forecastObj.weather[0].description }}</p>
  </div>
  <div class="weatherdetailswrap">
    <ul class="weatherdetailslist">
      <li>{{ forecastObj.main.temp_max }}°</li>
      <li>{{ forecastObj.main.temp_min }}°</li>
      <li>{{ forecastObj.main.feels_like }}</li>
      <li>wind</li>
      <li>sunset</li>
      <li>sunrise</li>
    </ul>
  </div>
</div>
