.card{
    background: #eaeaea;
    padding: 2em;
    border-radius: 30px;
    padding: 40px;
    height: 100%;
    max-width: 420px;
    background: #000000d0;
    color: white;    
    
}

.description{
    display: flex;
    align-items: center;
}

#city{
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}