<input
  [id]="item.id"
  type="checkbox"
  (change)="item.done = !item.done"
  [checked]="item.done"
/>
<label [for]="item.id"
  ><a [title]="item.name" [routerLink]="['/item', item.id]">{{
    item.name
  }}</a></label
>
<h2>{{ item.date }}</h2>
<h3>{{ item.done ? "Complete" : "Incomplete" }}</h3>
<div *ngIf="!editable">
  <button (click)="editable = !editable">Edit</button>
  <button (click)="delete.emit()">Delete</button>
</div>

<div *ngIf="editable">
  <input #edit [value]="item.name" (keyup.enter)="onEdit(edit.value)" />
  <button (click)="onEdit(edit.value)">Save</button>
  <button (click)="editable = !editable">Cancel</button>
</div>
